body {
	background-color: #95c2de;
}
.mainbox {
	background-color: #95c2de;
	margin: auto;
	height: 100%;
	width: 100%;
	position: relative;
}
.errortype {
	width: 600px;
}
.err {
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 7rem;
	position:absolute;
	left: 42%;
}
.far {
	position: absolute;
	font-size: 5rem;
	left: 48%;
	top: 5%;
	color: #ffffff;
}
.err2 {
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 7rem;
	position:absolute;
	left: 55%;
}
.mysql_err {
	position: absolute;
	font-size: 4rem;
	left: 38%;
	top: 3%;
	color: #ffffff;
}
.msg {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	position:absolute;
	left: 13%;
	top: 20%;
	width: 75%;
}
.red {
	color: red;
	font-weight: bold;
}